.sp-blurb-section {
  padding: 40px 0;
  background-color: var(--very-dark-green);
  h2 {
    @include heading2;
    margin-bottom: 15px;
    color: var(--white);
  }
  p {
    margin-bottom: 35px;
    max-width: 700px;
    color: var(--white);
  }
  .div {
    &__inner {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .blurb {
    &__container {
      width: 270px;
      padding-right: 30px;
    }
    &__image {
      display: inline-block;
      margin-right: 20px;
      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
    &__title {
      display: inline-block;
      h2 {
        margin-bottom: 0;
        font-size: $h5-font-size;
      }
    }
  }
  .image-inner {
    img {
      height: auto;
    }
  }
}